{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/yourorders.css">
{{/section}}


<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="#"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/wishlist"><img src="/images/wishlist.png" alt="wishlist">
                    <span id="home-badge-wishlist"  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/cart"><img src="/images/cart.png" alt="cart">
                    <span id="home-badge-cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container py-5">
  <h4 class="mb-4 fw-bold">Cancelled Items</h4>

  {{#each orderData}}
  {{#each this.productInfo}}
  {{#if (eq this.status "cancelled")}}
  <div class="border-top pt-5 pb-4 mb-4">
    <div class="row align-items-center">
      <div class="col-md-2">
        <img src="/images/products/{{firstImage this.productId.imageUrl}}" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-5">
        <h6 class="">{{this.productId.productName}}</h6>
        <p class="mb-1 text-muted">Brand: {{this.productId.brandName}}</p>
        <p class="mb-1 text-muted">Color: <button class="btn" style="background-color: {{this.color}};"></button></p>
        <p class="mb-1 text-muted">Size: {{this.size}} {{this.productId.unitSize}}</p>
        <p class="mb-1 text-muted">Quantity: {{this.quantity}}</p>
        <p class="mb-1 text-muted">Order Id: #{{../orderId}}</p>
      </div>
      <div class="col-md-3 text-end">
        <h6 class="fw-bold fs-5">₹ {{this.price}}.00</h6>
        <small class="text-muted">Item Cancelled By {{formatDateFull ../this.updatedAt}}</small><br>
        <small class="text-danger fw-bold">Your Item Has Been Cancelled</small>
        
      </div>
      <div class="col-md-2 text-end">
        <p class="text-secondary">If you have paid for this item, it has been credited to your wallet.</p>
      </div>
    </div>
  </div>

  {{/if}}
  {{/each}}
  {{/each}}


<!-- Pagination -->
    <div class="mt-5 mb-5 pagination-pro d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if (gt currentPage 1)}}
          <li class="page-item">
            <a class="page-link pagination-border shadow-none" href="/youraccount/cancelledorders?page={{subtract currentPage 1}}"
              aria-label="Previous">
              <span aria-hidden="true" class="text-black">&lang;</span>
            </a>
          </li>
          {{/if}}
          {{#each (pagination totalPages)}}
          <li class="page-item ms-2 {{#if (eq this ../currentPage)}}active{{/if}}">
            <a class="page-link pagination-number" href="/youraccount/cancelledorders?page={{this}}">{{this}}</a>
          </li>
          {{/each}}

          {{#if (lt currentPage totalPages1)}}
          <li class="page-item ms-2">
            <a class="page-link pagination-border shadow-none" href="/youraccount/cancelledorders?page={{add currentPage 1}}"
              aria-label="Next">
              <span aria-hidden="true" class="text-black">&rang;</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>




  <h4 class="mb-4 fw-bold">Returned Items</h4>

  {{#each returnData}}
  {{#with this.orderId}}
  {{#each this.productInfo}}
  {{#if (eq this.status "returned")}}
  <div class="border-top pt-5 pb-4 mb-4">
    <div class="row align-items-center">
      <div class="col-md-2">
        <img src="/images/products/{{firstImage this.productId.imageUrl}}" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-5">
        <h6 class="">{{this.productId.productName}}</h6>
        <p class="mb-1 text-muted">Brand: {{this.productId.brandName}}</p>
        <p class="mb-1 text-muted">Color: <button class="btn" style="background-color: {{this.color}};"></button></p>
        <p class="mb-1 text-muted">Size: {{this.size}} {{this.productId.unitSize}}</p>
        <p class="mb-1 text-muted">Quantity: {{this.quantity}}</p>
        <p class="mb-1 text-muted">Order Id: #{{../orderId}}</p>
      </div>
      <div class="col-md-3 text-end">
        <h6 class="fw-bold fs-5">₹ {{this.price}}.00</h6>
        <small class="text-muted">Item returned By {{formatDateFull ../../this.createdAt}}</small><br>
        <small class="text-danger fw-bold">Your return request has been {{../../status}}</small>
        
      </div>
      <div class="col-md-2 text-end">
        <p class="text-secondary">If the return request is accepted, 
            the paid amount for credited to your wallet.</p>
      </div>
    </div>
  </div>

  {{/if}}
  {{/each}}
  {{/with}}
  {{/each}}


<!-- Pagination -->
    <div class="mt-5 mb-5 pagination-pro d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if (gt currentPage1 1)}}
          <li class="page-item">
            <a class="page-link pagination-border shadow-none" href="/youraccount/cancelledorders?page={{subtract currentPage1 1}}"
              aria-label="Previous">
              <span aria-hidden="true" class="text-black">&lang;</span>
            </a>
          </li>
          {{/if}}
          {{#each (pagination totalPages1)}}
          <li class="page-item ms-2 {{#if (eq this ../currentPage1)}}active{{/if}}">
            <a class="page-link pagination-number" href="/youraccount/cancelledorders?page={{this}}">{{this}}</a>
          </li>
          {{/each}}

          {{#if (lt currentPage1 totalPages1)}}
          <li class="page-item ms-2">
            <a class="page-link pagination-border shadow-none" href="/youraccount/cancelledorders?page={{add currentPage1 1}}"
              aria-label="Next">
              <span aria-hidden="true" class="text-black">&rang;</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>


</div>

<!--Footer-->

<div class="bg-black text-white mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>


{{#section 'scripts'}}
<script src="/javascripts/yourorders.js"></script>
{{/section}}