{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/cart.css">
{{/section}}


<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="/home"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/wishlist"><img src="images/wishlist.png" alt="wishlist">
                    <span id="home-badge-wishlist"  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/cart"><img src="images/cart.png" alt="cart">
                    <span id="home-badge-cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container py-5">
  <div class="row">
    <!-- Shopping Cart -->
    <div class="col-lg-8">
      <h4 class="mb-4 fw-bold">Shopping Cart</h4>

      <!-- Item  -->
      {{#if cartItem.items.length}}
      {{#each cartItem.items}}
      <div class="cart-item d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img src="/images/products/{{firstImage this.productId.imageUrl}}" alt="shuttlecock" class="me-3" />
          <div>
            <div class="fw-bold me-5">{{this.productId.productName}}</div>
            <small class="text-muted">#{{last8 this.productId._id}}</small>
            <small class="text-muted ms-3">Size : {{this.size}}</small>
            <small class="text-muted ms-3">Color : 
                <a href="" class="btn" style="background-color: {{this.color}};"></a>
            </small>
          </div>
        </div>
        <div class="d-flex align-items-center">
<button class="btn btn-outline-dark btn-sm me-2 qty-btn decrement"
        data-product-id="{{this.productId._id}}"
        data-size="{{this.size}}"
        data-color="{{this.color}}">-</button>

<span class="mx-1 item-qty"
      data-product-id="{{this.productId._id}}"
      data-size="{{this.size}}"
      data-color="{{this.color}}">{{this.quantity}}</span>

<button class="btn btn-outline-dark btn-sm mx-2 qty-btn increment"
        data-product-id="{{this.productId._id}}"
        data-size="{{this.size}}"
        data-color="{{this.color}}">+</button>

          <span class="ms-3 fw-bold fs-5">₹{{this.price}}</span>
          <form action="/cart/remove/{{this._id}}?_method=PATCH" method="POST">
            <input type="hidden" name="_method" value="PATCH" />
            <button class="btn btn-link text-black ms-3 me-3 text-decoration-none fs-4">×</button>
          </form>
        </div>
      </div>
      {{/each}}
      {{else}}
            <div class="text-center mt-5 pt-5 mb-5 pb-5">
            <p class="text-secondary mt-5 mb-5">No Products are Available in cart</p>
            </div>
      {{/if}}
      

      <!-- Pagination -->
        {{!-- <nav class="mt-4">
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">‹</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">›</a></li>
            </ul>
        </nav> --}}
    </div>

    <!-- Order Summary -->
    <div class="col-lg-4">
      <div class="order-summary">
        <span class="text-danger" id="error-msg"></span>
        {{#if errorMessage}}
          <div class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        {{/if}}
        <h6 class="fw-bold fs-5">Order Summary</h6>
        <div class="mb-3">
          <small for="promo" class="form-label text-success">Discount code / Promo code</small>
          <div class="input-group">
            <input type="text" id="promo" name="promo" class="form-control mt-2" 
            placeholder="Enter code" oninput="this.value = this.value.toUpperCase()"/>
            <button id="couponbtn" type="button" class="btn btn-dark mt-2">Apply</button>
            <div id="coupon-error" class="coupon-notfi" style="font-size: 16px"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <span class="fw-bold">Subtotal</span><span class="fw-bold" id="cart-total">{{net}}.00</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-muted mt-2">Estimated Tax</span><span class="mt-2" id="total-tax">{{tax}}.00</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span class="text-muted mt-2">Non Refundable Delivery Charge</span><span class="mt-2" id="shipping-charge">{{#if (gt totalAmount 1000)}} 0.00 {{else}} {{shippingCharge}}.00{{/if}}</span>
        </div>
        <hr/>
        <div class="d-flex justify-content-between total mb-3">
          <span class="fs-6">Total</span><span class="fs-6" id="price-total">{{totalAmount}}.00</span>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <span class="text-muted">Discount Amount</span><span  class="">- ₹<span id="discount-total">{{couponAmount}}</span></span>
        </div>
        <div class="d-flex justify-content-between total mb-3">
          <span class="fs-5">Payable Amount </span><span class="fs-5" id="payable">{{totalAmount}}.00</span>
        </div>
        <a href="/checkout" class="btn btn-black mt-4">Checkout</a>
      </div>
    </div>
  </div>
</div>


<!--Footer-->

<div class="bg-black text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>


{{#section 'scripts'}}
<script src="/javascripts/cart.js"></script>
{{/section}}