{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/adminCategory.css">
{{/section}}



<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="px-4 mb-3">
        <img src="images/Logo-dark.png" alt="logo" height="50">
    </div>

    <h6 class="px-3">Dashboard</h6>
    <a class="nav-link" href="/dashboard"><i class="bi bi-house-door"></i> Dashboard</a>
    <a class="nav-link" href="/orderslist"><i class="bi bi-file-earmark"></i> Order List</a>
    <a class="nav-link" href="/products"><i class="bi bi-inboxes"></i> All Products</a>
    <a class="nav-link" href="/salesreport"><i class="bi bi-file-earmark-bar-graph"></i> Sales Report</a>
    <a class="nav-link" href="/customers"><i class="bi bi-people"></i> Customers</a>
    <a class="nav-link" href="/coupon"><i class="bi bi-ticket-detailed"></i> Coupon</a>
    <a class="nav-link" href="/offers"><i class="bi bi-funnel"></i> Offers</a>
    <a class="nav-link active" href="/category"><i class="bi bi-grid"></i> Category</a>
    {{!-- <a class="nav-link" href="#"><i class="bi bi-arrow-counterclockwise"></i> Refund/Return</a>
    <a class="nav-link" href="#"><i class="bi bi-tv"></i> Banners</a> --}}
</div>

<!-- Topbar -->
<div class="topbar border-bottom fixed-top" id="topbar">
    <button class="btn text-white" onclick="toggleSidebar()"><i class="bi bi-list fs-4 text-dark"></i></button>
    <div class="d-flex align-items-center gap-3">
        <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..."
            style="width: 200px;">
        <i class="bi bi-bell-fill fs-5 text-dark"></i>

        <!-- Large button groups (default and split) -->
        <div class="btn-group">
            <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                ADMIN
            </button>
            <ul class="dropdown-menu p-3">
                <li><b>Admin</b></li>
                <li class="pt-2"><a href="#" class="text-decoration-none text-dark">Change Password</a></li>
                <li class="pt-2"><a href="#" class="text-decoration-none text-dark">Logout <i
                            class="bi bi-box-arrow-right float-end"></i></a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Main Content -->



<div class="main-content" id="main">

    <div class="container mt-5">
        <h4><b>Category</b></h4>

        <!-- breadcrumb -->

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-secondary">Dashboard</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">Category</li>
            </ol>
        </nav>


        <!-- Form Section -->
        <form action="/category" method="post" novalidate id="categoryForm">
        <div class="form-section mb-4">
            <div class="row g-4">
            <div class="col-md-6">
                <label class="form-label">Category Name</label>
                <input type="text"
                    class="form-control shadow-none"
                    pattern="^[A-Za-z\s]{3,20}$"
                    id="sourceText"
                    name="name"
                    placeholder="Enter category name"
                    required
                    title="At least 3 characters, only letters and spaces.">
                <div class="invalid-feedback">
                Category name at least 3 characters,only letters and spaces.
                </div>

                <label class="form-label mt-3">Description</label>
                <textarea class="form-control shadow-none"
                        rows="4"
                        name="description"
                        pattern="^[A-Za-z0-9\s.,'\"()!-]{10,}$"
                        placeholder="Enter product type description"
                        required
                        title=""></textarea>
                <div class="invalid-feedback">
                Description contains letter, numbers and special characters.
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="ms-4 ps-5 mt-2 text-secondary">Live Preview</h5>
                <button class="category-border" type="button">
                <div class="category-content" id="liveOutput">Example</div>
                </button>
            </div>
            </div>

            <div class="mt-4">
            <a href="/category" class="btn btn-cancel btn-outline-dark me-2 px-5 py-2">CANCEL</a>
            <button type="submit" class="btn btn-dark px-5 py-2">SAVE</button>
            </div>
        </div>
        </form>


        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>SL NO</th>
                        <th>PRODUCT TYPE</th>
                        <th>DESCRIPTION</th>
                        <th>STATUS</th>
                        <th class="text-end">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categoryList}}
                    <tr>
                        <td>{{addOne @index}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td><span class="status-dot status-{{this.status}}"></span>{{this.status}}</td>
                        <td class="text-end">
                            {{!-- <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i
                                    class="bi bi-trash3 text-danger me-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"></i></span> --}}
                            <a href="" data-bs-toggle="modal" data-bs-target="#unBlockModal{{this._id}}"
                                class="unblock-{{this.status}}"><i class="bi bi-check-circle me-3 text-success"></i></a>

                            <a href="" data-bs-toggle="modal" data-bs-target="#blockModal{{this._id}}"
                                class="block-{{this.status}}"><i class="bi bi-slash-circle me-3 text-danger"></i></a>

                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i
                                    class="bi bi-pencil-square text-success" data-bs-toggle="offcanvas"
                                    data-bs-target="#canvasRight{{this._id}}" aria-controls="offcanvasRight"></i></span>
                        </td>
                    </tr>


                    <!-- ==================================================================================================== -->


                    <!-- Modal - popup window - edit -->

                    <form action="/category/update/{{this._id}}?_method=PATCH" method="POST" id="categoryFormUpdate" novalidate>
                        <input type="hidden" name="_method" value="PATCH" />
                        <div class="offcanvas offcanvas-end bg-transparent bg-setting border-0" tabindex="-1"
                            id="canvasRight{{this._id}}" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title text-white" id="offcanvasRightLabel"><strong>Edit
                                        Category</strong></h5>
                                <button type="button" class="btn-close shadow-none text-white"
                                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">

                                <label class="form-label text-white">Category Name</label>
                                <input type="text"
                                    class="form-control shadow-none bg-transparent text-white"
                                    pattern="^[A-Za-z\s]{3,}$"
                                    id="sourceText"
                                    name="name"
                                    value="{{this.name}}"
                                    placeholder="Enter category name"
                                    required
                                    title="At least 3 characters, only letters and spaces.">
                                <div class="invalid-feedback">
                                Category name at least 3 characters,only letters and spaces.
                                </div>

                                <label class="form-label mt-3 text-white">Description</label>
                                <textarea class="form-control shadow-none bg-transparent text-white"
                                        rows="4"
                                        name="description"
                                        pattern="^[A-Za-z0-9\s.,'\"()!-]{10,}$"
                                        placeholder="Enter product type description"
                                        required
                                        title="">{{this.description}}</textarea>
                                <div class="invalid-feedback">
                                Description contains letter, numbers and special characters.
                                </div>
                                <div class="mt-5">
                                    <button type="button" class="btn btn-outline-light me-2 px-5 py-2" data-bs-dismiss="offcanvas"
                                        aria-label="Close"> CANCEL </a>
                                        <button type="submit" class="btn btn-outline-light px-5 py-2"> UPDATE </button>
                                </div>
                            </div>
                        </div>
                    </form>



                    <!-- unblock - Modal -->
                    <div class="modal fade bg-setting" id="unBlockModal{{this._id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog float-end me-5">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">unBlock Category <i
                                            class="bi bi-check-circle me-3 text-success"></i></h1>
                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want to unblock category - <strong>{{this.name}}</strong> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>

                                    <form action="/category/unblock/{{this._id}}/{{this.name}}?_method=PATCH" method="POST">
                                        <input type="hidden" name="_method" value="PATCH" />
                                        <button type="submit" class="btn btn-outline-success">unBlock</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- block - Modal -->
                    <div class="modal fade bg-setting" id="blockModal{{this._id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog float-end me-5">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Block Category <i
                                            class="bi bi-slash-circle text-danger"></i></h1>
                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want to block category - <strong>{{this.name}}</strong> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>

                                    <form action="/category/block/{{this._id}}/{{this.name}}?_method=PATCH" method="POST">
                                        <input type="hidden" name="_method" value="PATCH" />
                                        <button type="submit" class="btn btn-outline-danger">Block</a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>


                    {{/each}}






                </tbody>
            </table>
        </div>
    </div>


    <!-- ==================================================================================================== -->

    <!-- Pagination -->
    <div class="mt-5 mb-4 pagination-pro">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#if (gt currentPage 1)}}
                <li class="page-item">
                    <a class="page-link pagination-border shadow-none" href="/category?page={{subtract currentPage 1}}"
                        aria-label="Previous">
                        <span aria-hidden="true" class="text-black">&lang;</span>
                    </a>
                </li>
                {{/if}}
                {{#each (pagination totalPages)}}
                <li class="page-item ms-2 {{#if (eq this ../currentPage)}}active{{/if}}">
                    <a class="page-link pagination-number" href="/category?page={{this}}">{{this}}</a>
                </li>
                {{/each}}

                {{#if (lt currentPage totalPages)}}
                <li class="page-item ms-2">
                    <a class="page-link pagination-border shadow-none" href="/category?page={{add currentPage 1}}"
                        aria-label="Next">
                        <span aria-hidden="true" class="text-black">&rang;</span>
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>


</div>

</div>

{{#section 'scripts'}}
<script src="/javascripts/adminCategory.js"></script>
{{/section}}