{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/checkout.css">
{{/section}}


<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="/home"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/wishlist"><img src="/images/wishlist.png" alt="wishlist">
                    <span id="home-badge-wishlist"  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/cart"><img src="/images/cart.png" alt="cart">
                    <span id="home-badge-cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


   <!-- Step Indicator -->
  <div class="step-indicator justify-content-around mt-4 mb-4">
    <div class="active text-start">
    <small>Step 1</small><br><span class="fs-">Address</span></div>
    <div class="text-start">
    <small>Step 2</small><br><span class="fs-">Confirmation</span></div>
    <div class="text-start">
    <small>Step 3</small><br><span class="fs-">Payment</span></div>
  </div>

  <div class="container">
    <h5 class="mb-4 pt-5 fw-bold"><small>Select Address</small></h5>

    <form action="/checkout" method="post">

    {{#each addressData}}
    <div class="address-card">
      <div class="address-details">
        <input type="radio" name="addressId" value="{{this._id}}" class="form-check-input mt-1 me-3" {{#if @first}}checked{{/if}}>
        <div>
          <div><strong>{{this.fullName}}</strong> <span class="address-type">{{this.addressType}}</span></div>
          <div>{{this.houseNo}}, {{this.street}}</div>
          <div>{{this.pinCode}}</div>
        </div>
      </div>
      <div>
        <a href="/youraccount/address"> <i class="bi bi-pencil me-3"></i></a>
      </div>
    </div>
    {{/each}}


    <div class="add-address text-muted mt-5">
    <a href="/youraccount/address" class="text-decoration-none text-dark">
      <i class="bi bi-plus-circle"></i>
      <span class="ms-2">Add New Address</span>
    </a>
    </div>
    

    <div class="step-buttons mb-5">
      <a href="cart" class="btn btn-outline-dark px-5">Back</a>
      <button type="submit" class="btn btn-dark px-5">Next</button>
    </div>
    </form>
  </div>


  <!--Footer-->

<div class="bg-black text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/checkout.js"></script>
{{/section}}