<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="/home"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/wishlist"><img src="/images/wishlist.png" alt="wishlist"></a>
                </li>
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/cart"><img src="/images/cart.png" alt="cart"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


   <!-- Step Indicator -->
  <div class="step-indicator justify-content-around mt-4 mb-4">
    <div class="text-start">
    <small>Step 1</small><br><span class="fs-">Address</span></div>
    <div class="active  text-start">
    <small>Step 2</small><br><span class="fs-">Confirmation</span></div>
    <div class="text-start">
    <small>Step 3</small><br><span class="fs-">Payment</span></div>
  </div>

<div class="container py-5">
  <form action="/checkout/confirm" method="post">
    <div class="row">
      <!-- Summary Section -->
      <div class="col-md-5">
        <div class="summary-card shadow-sm">
          <h5 class="mb-4 fw-bold"><small>Summary</small></h5>
          
          {{#each cartItem.items}}
          <div class="summary-item">
            <div class="d-flex align-items-center">
              <img src="/images/products/{{firstImage this.productId.imageUrl}}" class="summary-img" alt="">
              <div>
                <div class="fw-semibold">{{this.productId.productName}}</div>
                <small>Quantity : {{this.quantity}}</small>
              </div>
            </div>
            <div class="fw-semibold">₹{{this.price}}</div>
          </div>
          {{/each}}

          
        </div>
      </div>

        <div class="col col-md-1"></div>

      <!-- Confirmation Section -->
      <div class="col-md-6 mt-4 mt-md-0">
        <h5 class="mb-4 fw-bold">Confirmation</h5>


        
        <p class="mb-1 text-secondary fw-semibold">Applied Coupon</p>
                <div class="d-flex align-items-center gap-3 p-2 mt-2 mb-2 border-dotted-success" style="width: fit-content;">
            <div>
                <label class="form-label fw-semibold pt-2">{{#if code}} {{code}} {{else}} No Coupon {{/if}}</label>
            </div>
            <div class="">
                <a href="/checkout/remove" type="button" class="btn p-0 border-0 bg-transparent">
                    <i class="bi bi-x-lg"></i> 
                </a>
            </div>
        </div>


        <!-- Payment -->
        {{!-- <p class="mb-1 text-secondary fw-semibold">Payment Method</p>
        <div class="d-flex align-items-center mb-3">
          <img src="" class="payment-logo" alt="Razorpay">
          <span></span>
        </div> --}}

        <!-- Address -->
        <p class="mb-1 text-secondary fw-semibold">Address</p>
        <p>{{orderAddress.houseNo}}, {{orderAddress.street}}<br>{{orderAddress.pinCode}}
        <br>Mobile number : {{orderAddress.mobileNumber}}</p>

        <!-- Pricing -->
        <div class="mb-2"><strong>Subtotal</strong> <span class="float-end fw-bold">₹{{net}}.00</span></div>
        <div class="mb-2 text-secondary">Estimated Tax <span class="float-end">+ ₹{{tax}}.00 (18%)</span></div>
        <div class="mb-2 text-secondary">Estimated Shipping & Handling <span class="float-end">+ ₹0.00</span></div>
        <div class="mb-3 order-total">Total <span class="float-end">₹{{totalAmount}}.00</span></div>
        <hr>
        <div class="mb-2 text-secondary">Discounted Amount <span class="float-end">- ₹{{discountAmount}}.00</span></div>
        <div class="mb-3 fs-4   order-total">Payable Amount <span class="float-end">₹{{payableAmount}}.00</span></div>
        <!-- Terms and Buttons -->
        {{!-- <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox" id="terms">
          <label class="form-check-label text-secondary" for="terms">
            Accept all terms & conditions
          </label>
        </div> --}}

        <div class="d-flex gap-3 mt-4 float-end">
          <a href="/checkout" class="btn btn-outline-dark px-5">Back</a>
          <button type="submit" class="btn btn-dark px-5">Pay</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!--Footer-->

<div class="bg-black text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>