{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/editcoupon.css">
{{/section}}


<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="px-4 mb-3">
    <img src="/images/Logo-dark.png" alt="logo" height="50">
  </div>

  <h6 class="px-3">Dashboard</h6>
  <a class="nav-link" href="/dashboard"><i class="bi bi-house-door"></i> Dashboard</a>
  <a class="nav-link" href="/orderslist"><i class="bi bi-file-earmark"></i> Order List</a>
  <a class="nav-link" href="/products"><i class="bi bi-inboxes"></i> All Products</a>
  <a class="nav-link" href="/salesreport"><i class="bi bi-file-earmark-bar-graph"></i> Sales Report</a>
  <a class="nav-link" href="/customers"><i class="bi bi-people"></i> Customers</a>
  <a class="nav-link active" href="/coupon"><i class="bi bi-ticket-detailed"></i> Coupon</a>
  <a class="nav-link" href="/offers"><i class="bi bi-funnel"></i> Offers</a>
  <a class="nav-link" href="/category"><i class="bi bi-grid"></i> Category</a>
  <a class="nav-link" href="#"><i class="bi bi-arrow-counterclockwise"></i> Refund/Return</a>
  <a class="nav-link" href="#"><i class="bi bi-tv"></i> Banners</a>
</div>

<!-- Topbar -->
<div class="topbar border-bottom fixed-top" id="topbar">
  <button class="btn text-white" onclick="toggleSidebar()"><i class="bi bi-list fs-4 text-dark"></i></button>
  <div class="d-flex align-items-center gap-3">
    <form role="search" action="/" method="get" class="d-flex gap-2">
          <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
            name="q" value="{{query}}" required>
          <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
    </form>
    <i class="bi bi-bell-fill fs-5 text-dark"></i>

    <!-- Large button groups (default and split) -->
    <div class="btn-group">
      <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ADMIN
      </button>
      <ul class="dropdown-menu p-3">
        <li><b>Admin</b></li>
        <li class="pt-2"><a href="#" class="text-decoration-none text-dark">Change Password</a></li>
        <form class="d-flex" role="search" action="/logout/admin">
          <li class="pt-2"><button type="submit" class="text-decoration-none text-dark btn btn-white ">Logout <i
                class="bi bi-box-arrow-right float-end ps-4"></i></button></li>
        </form>
      </ul>
    </div>
  </div>
</div>




<div class="main-content" id="main">

<div class="container mt-5">
        <h4><b>Edit Coupon</b></h4>


        <!-- Header -->
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">

            <!-- breadcrumb -->

            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-secondary">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item "><a href="/coupon" class="text-decoration-none text-secondary">Coupon</a></li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">Edit Coupon</li>
                </ol>
            </nav>
        </div>

        
            <form class="needs-validation" novalidate action="/coupon/edit/{{couponData._id}}?_method=PATCH" method="POST">
                   <input type="hidden" name="_method" value="PATCH" /> 
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Coupon Name</label>
                            <input type="text" class="form-control shadow-none" name="name" 
                            placeholder="Enter coupon name" required value="{{couponData.name}}">
                            <div class="invalid-feedback">Please enter coupon name.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Coupon Code</label>
                            <input type="text" class="form-control shadow-none" id="couponCodeInput" 
                            name="code" placeholder="Enter coupon code" required value="{{couponData.code}}" readonly>
                            <div class="invalid-feedback">Please enter coupon code.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Discount Price</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input type="number" min="10" class="form-control shadow-none amount-input" 
                                name="discountAmount" placeholder="Enter discount price" value="{{couponData.discountAmount}}">
                                <div class="invalid-feedback">Fill either amount or percentage, not both. Grater than ₹10</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Discount Percentage</label>
                            <div class="input-group">
                                <span class="input-group-text">%</span>
                                <input type="number" min="5" max="99" class="form-control shadow-none percentage-input" 
                                name="discountPercentage" placeholder="Enter discount price" value="{{couponData.discountPercentage}}">
                                <div class="invalid-feedback">Less than 99 & Grater than 5 (add Amount/percentage)</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Active Date</label>
                            <input type="date" id="activeDate1" class="form-control shadow-none" 
                            name="activeFrom" required value="{{formatDate couponData.activeFrom}}">
                            <div class="invalid-feedback">Please check active date.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Expire Date</label>
                            <input type="date" id="activeDate2" class="form-control shadow-none" 
                            name="expireTo" required value="{{formatDate couponData.expireTo}}">
                            <div class="invalid-feedback">Active date must be before or same as expiry date.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Limit</label>
                            <input type="number" min="1" class="form-control shadow-none" name="limit" 
                            placeholder="Enter maximum limit" required value="{{couponData.limit}}">
                            <div class="invalid-feedback">Please select limit.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Minimum Order Amount</label>
                            <input type="number" min="1" class="form-control shadow-none minimum-order-input" name="minimumOrderAmount" 
                            placeholder="Enter minimum order" value="{{couponData.minimumOrderAmount}}" required>
                            <div class="invalid-feedback">Minimum Order Amount must be greater than Discount Amount.</div>
                        </div>
                    </div>
                <div class="modal-footer border-0 mt-5">
                    <a href="/coupon" type="button" class="btn btn-outline-dark px-4 me-3"><i class="bi bi-arrow-90deg-left"></i></a>
                    <button type="submit" class="btn btn-dark px-4">Update</button>
                </div>
            </form>
            

    </div>
    </div>

{{#section 'scripts'}}
<script src="/javascripts/editcoupon.js"></script>
{{/section}}