{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/salesreport.css">
{{/section}}


<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="px-4 mb-3">
    <img src="/images/Logo-dark.png" alt="logo" height="50">
  </div>

  <h6 class="px-3">Dashboard</h6>
  <a class="nav-link" href="/dashboard"><i class="bi bi-house-door"></i> Dashboard</a>
  <a class="nav-link" href="/orderslist"><i class="bi bi-file-earmark"></i> Order List</a>
  <a class="nav-link" href="/products"><i class="bi bi-inboxes"></i> All Products</a>
  <a class="nav-link active" href="/salesreport"><i class="bi bi-file-earmark-bar-graph"></i> Sales Report</a>
  <a class="nav-link" href="/customers"><i class="bi bi-people"></i> Customers</a>
  <a class="nav-link" href="/coupon"><i class="bi bi-ticket-detailed"></i> Coupon</a>
  <a class="nav-link" href="/offers"><i class="bi bi-funnel"></i> Offers</a>
  <a class="nav-link" href="/category"><i class="bi bi-grid"></i> Category</a>
  <a class="nav-link" href="#"><i class="bi bi-arrow-counterclockwise"></i> Refund/Return</a>
  <a class="nav-link" href="#"><i class="bi bi-tv"></i> Banners</a>
</div>

<!-- Topbar -->
<div class="topbar border-bottom fixed-top" id="topbar">
  <button class="btn text-white" onclick="toggleSidebar()"><i class="bi bi-list fs-4 text-dark"></i></button>
  <div class="d-flex align-items-center gap-3">
    <form role="search" action="/" method="get" class="d-flex gap-2">
          <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
            name="q" value="{{query}}" required>
          <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
    </form>
    <i class="bi bi-bell-fill fs-5 text-dark"></i>

    <!-- Large button groups (default and split) -->
    <div class="btn-group">
      <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ADMIN
      </button>
      <ul class="dropdown-menu p-3">
        <li><b>Admin</b></li>
        <li class="pt-2"><a href="#" class="text-decoration-none text-dark">Change Password</a></li>
        <form class="d-flex" role="search" action="/logout/admin">
          <li class="pt-2"><button type="submit" class="text-decoration-none text-dark btn btn-white ">Logout <i
                class="bi bi-box-arrow-right float-end ps-4"></i></button></li>
        </form>
      </ul>
    </div>
  </div>
</div>




<div class="main-content" id="main">

<div class="container mt-5">
  <div class="mb-4">
        <h4><b>Sales Report</b></h4>

      <!-- breadcrumb -->
            
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-secondary">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">Sales Report</li>
                </ol>
            </nav>
    </div>

        <!-- Header -->
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">

           

            <form method="GET" action="/salesreport" class="mb-4">
                <div class="row g-3">
                    <div class="col">
                        <label>From Date</label>
                        <input type="date" class="form-control" name="fromDate" value="{{fromDate}}" placeholder="From Date">
                    </div>
                    <div class="col">
                        <label>To Date</label>
                        <input type="date" class="form-control" name="toDate" value="{{toDate}}">
                    </div>
                    <div class="col d-flex align-items-end">
                        <button type="submit" class="btn btn-dark">Filter</button>
                    </div>
                </div>
            </form>

            {{!-- <button type="button" class="btn btn-outline-dark">Today</button>
            <button type="button" class="btn btn-outline-dark">This Week</button>
            <button type="button" class="btn btn-outline-dark">This Month</button> --}}


            <div class="d-flex gap-2">
              <a class="btn btn-outline-dark m-1" href="/salesreport" type="button"><i class="bi bi-arrow-clockwise"></i></a>
                {{!-- <button class="btn btn-outline-secondary m-1"><i class="bi bi-sliders"></i> FILTER</button> --}}
                <a href="/salesreport/exportExcel" class="btn btn-outline-success m-1"> Excel <i class="bi bi-file-earmark-spreadsheet"></i></a>
                <a href="/salesreport/exportPdf" class="btn btn-outline-danger m-1"> PDF <i class="bi bi-filetype-pdf"></i></a>
            </div>
        </div>

        <div class="mb-4"><span class="border rounded p-3 shadow-sm fs-6 fw-semibold">Total Sales Count : <span class="fw-bold fs-5">{{totalCoupons}}</span></span>
        <span class="border rounded p-3 ms-2 shadow-sm fs-6 fw-semibold">Total Order Amount : <span class="fw-bold fs-5">₹ {{grandTotalRegularPrice}}</span></span>
        <span class="border rounded p-3 ms-2 shadow-sm fs-6 fw-semibold">Total Discount : <span class="fw-bold fs-5">₹ {{totalDiscountSum}}</span></span></div>


  <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>Sl.No <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
            <th>Order Id <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
            <th>Customer <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
            <th>Total ₹ <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
            <th>Discount ₹ <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></i></th>
            <th>Payment <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
            <th>Status <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
            <th>Date <a href="" class="text-dark ms-1"><i class="bi bi-arrow-down-up"></i></a></th>
          </tr>
        </thead>
        <tbody>
         
          <!-- Example Rows -->
          {{#if ordersData}}
          <tr>
            {{#each ordersData}}
            <td>{{addOne @index}}</td>
            <td>{{this.orderId}}</td>
            <td>{{this.userId.name}}</td>
            <td>{{calcTotalRegularPrice this.productInfo}}</td>
            <td>{{subtract (calcTotalRegularPrice this.productInfo) this.paymentInfo.[0].totalAmount}}</td>
            <td>{{this.paymentInfo.[0].paymentMethod}}</td>
            <td>{{this.deliveryStatus}}</td>
            <td>{{formatDateFull this.createdAt}}</td>
          </tr>

        {{/each}}
        {{else}}

        <tr>
            <td colspan="8" class="text-center pt-5 pb-5">No Data Available</td>
        </tr>

        {{/if}}

          </tbody>
        </table>
        </div>


    <!-- Pagination -->
    <div class="mt-5 mb-4 d-flex pagination-pro justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if (gt currentPage 1)}}
          <li class="page-item">
            <a class="page-link pagination-border shadow-none" href="/salesreport?page={{subtract currentPage 1}}"
              aria-label="Previous">
              <span aria-hidden="true" class="text-black">&lang;</span>
            </a>
          </li>
          {{/if}}
          {{#each (pagination totalPages)}}
          <li class="page-item ms-2 {{#if (eq this ../currentPage)}}active{{/if}}">
            <a class="page-link pagination-number" href="/salesreport?page={{this}}">{{this}}</a>
          </li>
          {{/each}}

          {{#if (lt currentPage totalPages)}}
          <li class="page-item ms-2">
            <a class="page-link pagination-border shadow-none" href="/salesreport?page={{add currentPage 1}}"
              aria-label="Next">
              <span aria-hidden="true" class="text-black">&rang;</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>


    </div>
    </div>

{{#section 'scripts'}}
<script src="/javascripts/salesreport.js"></script>
{{/section}}