<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="#"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/wishlist"><img src="/images/wishlist.png" alt="wishlist"></a>
                </li>
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/cart"><img src="/images/cart.png" alt="cart"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container py-5">

        <div class="mb-4">
            <h4 class="pb-3">Your wallet balance <span class="wallet-balance ms-3">₹{{walletData.balance}}.00</span></h4>
            <div class="input-group my-3">
                <span class="input-group-text fw-bold py-2 fs-5">₹</span>
                <input type="number" id="walletInput" class="form-control shadow-none" name="walletAmount" placeholder="Add money to your Wallet" min="50" required>
                <button type="button" id="walletPayBtn" class="btn btn-dark px-5 fw-bold">PAY</button>
                <span class="btn btn-outline-dark ms-3 pt-2 fw-bold quick-add" data-amount="100">₹100</span>
                <span class="btn btn-outline-dark ms-3 pt-2 fw-bold quick-add" data-amount="200">₹200</span>
                <span class="btn btn-outline-dark ms-3 pt-2 fw-bold quick-add" data-amount="500">₹500</span>
                <span class="btn btn-outline-dark ms-3 pt-2 fw-bold quick-add" data-amount="1000">₹1000</span>
                <span class="btn btn-outline-dark ms-3 pt-2 fw-bold quick-add" data-amount="2000">₹2000</span>
            </div>
            <span id="wallet-amount-error" class="text-danger"></span>
        </div>
    

    <h6 class="mb-4 pt-4 fs-5">Transaction History</h6>

    {{#each transactions}}
    {{#if (eq this.type "add")}}
    <div class="transaction">
        <div>
            <div class="label">Added Money <span class="badge badge-add">ADD</span></div>
            <small class="text-muted">{{formatDateFull this.createdAt}}  <span class="ms-2">{{splitTime this.createdAt}}</span>
             <small class="text-muted ms-2">( {{this.description}} )</small></small>
        </div>
        <div class="fw-bold text-success">+ ₹{{this.amount}}</div>
    </div>
    {{else}}
    <div class="transaction">
        <div>
            <div class="label">Deducted Money <span class="badge badge-ded">DED</span></div>
            <small class="text-muted">{{formatDateFull this.createdAt}}  <span class="ms-2">{{splitTime this.createdAt}}</span> 
            <small class="text-muted ms-2">( {{this.description}} )</small></small>
        </div>
        <div class="fw-bold text-danger">- ₹{{this.amount}}</div>
    </div>
    {{/if}}
    {{/each}}

    <!-- Pagination -->
    <div class="mt-5 mb-4 pagination-pro">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if (gt currentPage 1)}}
          <li class="page-item">
            <a class="page-link pagination-border shadow-none" href="/wallet?page={{subtract currentPage 1}}"
              aria-label="Previous">
              <span aria-hidden="true" class="text-black">&lang;</span>
            </a>
          </li>
          {{/if}}
          {{#each (pagination totalPages)}}
          <li class="page-item ms-2 {{#if (eq this ../currentPage)}}active{{/if}}">
            <a class="page-link pagination-number" href="/wallet?page={{this}}">{{this}}</a>
          </li>
          {{/each}}

          {{#if (lt currentPage totalPages)}}
          <li class="page-item ms-2">
            <a class="page-link pagination-border shadow-none" href="/wallet?page={{add currentPage 1}}"
              aria-label="Next">
              <span aria-hidden="true" class="text-black">&rang;</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>

</div>
<!--Footer-->

<div class="bg-black text-white mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>

<script>
    const razorpayKey = '{{razorpayKey}}';
</script>