{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/wishlist.css">
{{/section}}


<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top z-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="/home"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..."
                    style="width: 200px;" name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/wishlist"><img src="/images/wishlist.png" alt="wishlist"></a>
                </li>
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/cart"><img src="/images/cart.png" alt="cart"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!--right side-->
<div class="container">
<div class="col col-md-12 col-lg-12">
    <div class="row">
        <div class="col col-md-12 col-lg-12">

            <h3 class="fs-3 fw-bold pt-5 ps-2">Wish List</h3>

            <div class="container mt-5">

                <span class="fw-semibold">Selected Products : <span>{{wishlist.productId.length}}</span></span>


                <div class="dropdown float-end">
                    <button class="btn btn-outline-dark dropdown-toggle px-4" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        By Rating
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">5 Star ★★★★★</a></li>
                        <li><a class="dropdown-item" href="#">4 Star ★★★★</a></li>
                        <li><a class="dropdown-item" href="#">3 star ★★★</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="tab-content">

        {{#if wishlist.productId.length}}
        <div class="row">
        {{#each wishlist}}
        {{#each this.productId}}
        {{!-- Assuming each product has an id, imageUrl, productName, and salePrice --}}
        <div class="col col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="product-card-bg product-content">
                <div>
                    <span class="product-card-rating"><span>{{getAvgRating _id ../../reviewSummary}} </span> <span><svg xmlns="http://www.w3.org/2000/svg"
                                height="10" width="11.25" viewBox="0 0 576 512">
                                <path fill="#ffffff"
                                    d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                            </svg></span>
                    </span>
                      {{#if (ne this.salePrice this.regularPrice)}}
                        <span class="offer-box ms-2">
                          <span class="">{{percentage this.regularPrice this.salePrice}}% OFF</span>
                        </span>
                      {{/if}}

                        <a href="/wishlist" class="heart-button float-end wishlist-btn {{this.isActive}}" data-product-id="{{_id}}">
                            <svg class="heart-icon" viewBox="0 0 24 24">
                                <path
                                    d="M20.8 4.6a5.5 5.5 0 0 0-7.8 0L12 5.6l-1-1a5.5 5.5 0 0 0-7.8 7.8l1 1L12 21l7.8-7.6 1-1a5.5 5.5 0 0 0 0-7.8z" />
                            </svg>
                        </a>
                </div>
                <form action="/productdetails" method="get">
                    <input type="hidden" name="productId" value="{{this._id}}">

                    <button type="submit" class="btn border-0">
                        <div class="img-border">
                            <img src="/images/products/{{this.imageUrl.[0]}}" alt="{{productName}}"
                                class="product-card-img mx-auto d-block">
                        </div>
                        <h5 class="text-center pt-2 text-black"><b>{{this.productName}}</b></h5>
                        <h2 class="text-center pt-2 fs-4">₹ <span>{{this.salePrice}}</span><del class="fs-6 fw-normal opacity-50 ps-2">₹{{this.regularPrice}}</del></h2>
                    </button>
            </div>
            </a>
            </form>
        </div>
        {{/each}}
        {{/each}}
        </div>
        {{else}}
            <div class="text-center mt-5 pt-5 mb-5 pb-5">
            <p class="text-secondary mt-5 mb-5 pb-5">No Products are Available in Wishlist</p>
            </div>
        {{/if}}
        



        <!-- Pagination -->
        <div class="mt-5 mb-4 pagination-pro">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#if (gt currentPage 1)}}
                    <li class="page-item">
                        <a class="page-link pagination-border shadow-none"
                            href="/userproducts?page={{subtract currentPage 1}}" aria-label="Previous">
                            <span aria-hidden="true" class="text-black">&lang;</span>
                        </a>
                    </li>
                    {{/if}}
                    {{#each (pagination totalPages)}}
                    <li class="page-item ms-2 {{#if (eq this ../currentPage)}}active{{/if}}">
                        <a class="page-link pagination-number" href="/userproducts?page={{this}}">{{this}}</a>
                    </li>
                    {{/each}}

                    {{#if (lt currentPage totalPages)}}
                    <li class="page-item ms-2">
                        <a class="page-link pagination-border shadow-none"
                            href="/userproducts?page={{add currentPage 1}}" aria-label="Next">
                            <span aria-hidden="true" class="text-black">&rang;</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>


    </div>{{!-- tab content end --}}
</div>
</div>




<!--Footer-->

<div class="bg-black text-white mt-3">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none text-white" href="#">
                    <p class="hf-p">Contact Us</p>
                </a>
                <a class="text-decoration-none text-white" href="#">
                    <p class="hf-p">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none text-white" href="#">
                    <p class="hf-p">Find an order</p>
                </a>
                <a class="text-decoration-none text-white" href="#">
                    <p class="hf-p">Terms and conditions</p>
                </a>
                <a class="text-decoration-none text-white" href="#">
                    <p class="hf-p">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none text-white" href="#">
                    <p class="hf-p">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/wishlist.js"></script>
{{/section}}