{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/yourorders.css">
{{/section}}


<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="#"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/wishlist"><img src="/images/wishlist.png" alt="wishlist">
                    <span id="home-badge-wishlist"  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item pe-4">
                    <a type="submit" class="nav-link position-relative" href="/cart"><img src="/images/cart.png" alt="cart">
                    <span id="home-badge-cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container py-5">
  <h4 class="mb-4 fw-bold">Your Orders</h4>

  <!-- Order 1 -->
{{#each orderData}}
  {{#each this.productInfo}}
  {{#if (eq this.status "confirmed")}}
  <div class="border-bottom pb-4 mb-4">
    <div class="row align-items-center mt-5">
      <div class="col-md-2">
        <img src="/images/products/{{firstImage this.productId.imageUrl}}" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-5">
        <h6 class=""><a href="#" class="text-decoration-none"  data-bs-toggle="modal" data-bs-target="#orderDetails{{this.productId._id}}">{{this.productId.productName}}</a></h6>
        <p class="mb-1 text-muted"><b>Quantity:</b> {{this.quantity}}</p>        
        <span class="mb-1 text-muted pe-3"><b>Brand:</b> {{this.productId.brandName}}</span>
        <span class="mb-1 text-muted pe-3"><b>Color:</b> <button class="btn" style="background-color: {{this.color}};"></button></span>
        <span class="mb-1 text-muted"><b>Size:</b> {{this.size}} {{this.productId.unitSize}}</span>

        <p class="mb-1 text-muted"><b>Order Id:</b> #{{../orderId}}</p>
      </div>
      <div class="col-md-3 text-end">
        <h6 class="fw-bold fs-5">₹ {{this.price}}.00</h6>
        <small class="text-muted">Item Ordered By {{formatDateFull ../createdAt}}</small><br>
        <small class="text-primary fw-bold">Your Order Has Been Placed</small>
      </div>
      <div class="col-md-2 text-end">
        {{#if (eq ../deliveryStatus "pending")}}
        <button class="btn btn-outline-danger btn-md px-4" 
        data-bs-toggle="modal" data-bs-target="#cancel{{../_id}}{{this._id}}">Cancel Item</button>
        {{/if}}
        <a href="/invoice/download-invoice/{{../orderId}}" class="btn btn-outline-dark px-4 mt-2">
          <i class="bi bi-download pe-2"></i> Invoice
        </a>
      </div>
    </div>

    {{!-- <!-- Order Progress Bar -->
    <div class="order-progress mx-5 mb-5">
      <div class="progress-line">
        <div class="step {{#if (eq ../this.deliveryStatus 'pending')}}completed{{/if}}" data-title="order Placed" data-step="1"></div>
        <div class="step {{#if (eq ../this.deliveryStatus 'shipped')}}completed{{/if}}" data-title="shipped" data-step="2"></div>
        <div class="step {{#if (eq ../this.deliveryStatus 'outofdelivery')}}completed{{/if}}" data-title="Out of delivery" data-step="3"></div>
        <div class="step {{#if (eq ../this.deliveryStatus 'delivered')}}completed{{/if}}" data-title="Delivered" data-step="4"></div>
      </div>
    </div>
    </div> --}}


    <!-- Order Details -->
    <div class="modal fade" id="orderDetails{{this.productId._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Id : #{{../this.orderId}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="fw-bold">Product Information</h5>
        {{#each ../this.productInfo}}
          <p>{{this.productId.productName}} 
          <span class="ps-1 fs-5 fw-bold float-end">₹ {{mul this.quantity this.price}}.00</span><br>
          <span class="">Qty: {{this.quantity}}</span><span class="ps-3">Status: {{this.status}}</span></p>
        {{/each}}

        <h5 class="fw-bold mt-5">Payment Information</h5>
        <p>Payment Method <span class="float-end">{{../paymentInfo.[0].paymentMethod}}</span><br>
        Payment Status <span class="float-end">{{../paymentInfo.[0].paymentStatus}}</span></p>
        <p>
          Net Amount  <span class="float-end">₹ {{netAmount (add ../paymentInfo.[0].totalAmount ../couponInfo.[0].discount)}}</span><br>
          Gst Amount (18%) <span class="float-end">₹ {{gst (add ../paymentInfo.[0].totalAmount ../couponInfo.[0].discount)}}</span><br>
          Total Amount <span class="float-end">₹ {{add ../paymentInfo.[0].totalAmount ../couponInfo.[0].discount}}.00</span>
        </p>
        <p>Discount Amount <span class="float-end">- ₹ {{ ../couponInfo.[0].discount}}</span>
        <h5 class="fw-bold">Payable Amount <span class="float-end">₹ {{../paymentInfo.[0].totalAmount}}</span></h5>
        </p> <hr>
        
        <h5 class="fw-bold mt-3">Address Information</h5>
        {{../addressId.fullName}} <br>
        {{../addressId.houseNo}}, {{../addressId.landMark}}<br>
        {{../addressId.street}}<br>
        {{../addressId.district}}, {{../addressId.state}}<br>
        {{../addressId.pinCode}}<br>
        {{../addressId.mobileNumber}}, {{../addressId.alternate_number}}
      </div>
  
    </div>
  </div>
</div>


    {{!-- pop up for cancel --}}

    {{!-- <div class="modal fade bg-setting" id="cancel{{../_id}}{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog float-end me-5">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel Your Item!</h1>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to cancel <b>{{this.productId.productName}}</b> ?</p>
                    <p class="mb-1 text-muted">Brand: {{this.productId.brandName}}</p>
                    <p class="mb-1 text-muted">Color: <button class="btn" style="background-color: {{this.color}};"></button></p>
                    <p class="mb-1 text-muted">Size: {{this.size}} {{this.productId.unitSize}}</p>
                    <p class="mb-1 text-muted">Order Id: #{{../orderId}}</p>
                </div>
                <div class="modal-footer">
                    <form action="/youraccount/cancelorder/{{../orderId}}/{{this.productId._id}}?_method=PATCH" method="POST">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div> --}}



<div class="modal fade bg-setting" id="cancel{{../_id}}{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabelCancel{{../_id}}{{this._id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabelCancel{{../_id}}{{this._id}}">Reason for Cancel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/youraccount/cancelorder/{{../orderId}}/{{this.productId._id}}?_method=PATCH" method="POST">

          <div class="form-check">
            <input class="form-check-input reason-radio-cancel" type="radio" name="reason" 
              id="cancelReason1-{{../_id}}{{this._id}}" value="Change my mind" data-textarea-id="cancelTextarea-{{../_id}}{{this._id}}">
            <label class="form-check-label" for="cancelReason1-{{../_id}}{{this._id}}">
              Change my mind
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input reason-radio-cancel" type="radio" name="reason" 
              id="cancelReason2-{{../_id}}{{this._id}}" value="Payment issues" checked data-textarea-id="cancelTextarea-{{../_id}}{{this._id}}">
            <label class="form-check-label" for="cancelReason2-{{../_id}}{{this._id}}">
              Payment issues
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input reason-radio-cancel" type="radio" name="reason" 
              id="cancelReason3-{{../_id}}{{this._id}}" value="Wrong item was booked" data-textarea-id="cancelTextarea-{{../_id}}{{this._id}}">
            <label class="form-check-label" for="cancelReason3-{{../_id}}{{this._id}}">
              Wrong item was booked
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input reason-radio-cancel" type="radio" name="reason" 
              id="cancelReason4-{{../_id}}{{this._id}}" value="Others" data-textarea-id="cancelTextarea-{{../_id}}{{this._id}}" data-show-textarea="true">
            <label class="form-check-label" for="cancelReason4-{{../_id}}{{this._id}}">
              Others
            </label>
          </div>

          <!-- Textarea for 'Others' -->
          <div class="mt-3" id="cancelTextarea-{{../_id}}{{this._id}}" style="display: none;">
            <label for="cancelTextareaField-{{../_id}}{{this._id}}" class="form-label">Please specify:</label>
            <textarea class="form-control" name="otherReason" id="cancelTextareaField-{{../_id}}{{this._id}}" rows="3"></textarea>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-dark">Confirm</button>
      </div>
      </form>
    </div>
  </div>
</div>


    {{/if}}
  {{/each}}
  <!-- Order Progress Bar -->
    <div class="order-progress mx-5 mb-5">
      <div class="progress-line">
        <div class="step {{#if (eq this.deliveryStatus 'pending')}}completed{{/if}}" data-title="order Placed" data-step="1"></div>
        <div class="step {{#if (eq this.deliveryStatus 'shipped')}}completed{{/if}}" data-title="shipped" data-step="2"></div>
        <div class="step {{#if (eq this.deliveryStatus 'outofdelivery')}}completed{{/if}}" data-title="Out of delivery" data-step="3"></div>
        <div class="step {{#if (eq this.deliveryStatus 'delivered')}}completed{{/if}}" data-title="Delivered" data-step="4"></div>
      </div>
    </div>
    </div>
{{/each}}


<!-- Pagination -->
    <div class="mt-5 mb-5 pagination-pro d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if (gt currentPage 1)}}
          <li class="page-item">
            <a class="page-link pagination-border shadow-none" href="/youraccount/yourorders?page={{subtract currentPage 1}}"
              aria-label="Previous">
              <span aria-hidden="true" class="text-black">&lang;</span>
            </a>
          </li>
          {{/if}}
          {{#each (pagination totalPages)}}
          <li class="page-item ms-2 {{#if (eq this ../currentPage)}}active{{/if}}">
            <a class="page-link pagination-number" href="/youraccount/yourorders?page={{this}}">{{this}}</a>
          </li>
          {{/each}}

          {{#if (lt currentPage totalPages)}}
          <li class="page-item ms-2">
            <a class="page-link pagination-border shadow-none" href="/youraccount/yourorders?page={{add currentPage 1}}"
              aria-label="Next">
              <span aria-hidden="true" class="text-black">&rang;</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>

  <!-- Order 2 -->

  {{#each orderData1}}
  {{#each this.productInfo}}
  {{#if (eq this.status "confirmed")}}
  <div class="border-top pt-5 pb-4 mb-4">
    <div class="row align-items-center">
      <div class="col-md-2">
        <img src="/images/products/{{firstImage this.productId.imageUrl}}" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-5">
        <h6 class="">{{this.productId.productName}}</h6>
        <p class="mb-1 text-muted">Brand: {{this.productId.brandName}}</p>
        <p class="mb-1 text-muted">Color: <button class="btn" style="background-color: {{this.color}};"></button></p>
        <p class="mb-1 text-muted">Size: {{this.size}} {{this.productId.unitSize}}</p>
        <p class="mb-1 text-muted">Quantity: {{this.quantity}}</p>
        <p class="mb-1 text-muted">Order Id: #{{../this.orderId}}</p>
      </div>
      <div class="col-md-3 text-end">
        <h6 class="fw-bold fs-5">₹ {{this.price}}.00</h6>
        <small class="text-muted">Delivered On Oct 8, 2024</small><br>
        <small class="text-success fw-bold">Your Item Has Been Delivered</small>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-outline-dark btn-md px-4" 
        data-bs-toggle="modal" data-bs-target="#exampleModal{{this._id}}">Return Item</button>
        <a href="/invoice/download-invoice/{{../orderId}}" class="btn btn-outline-success px-4 mt-2">
          <i class="bi bi-download pe-2"></i> Invoice
        </a>

        {{#includes ../../reviewMap this.productId._id}}
        <button class="btn btn-dark btn-md mt-2 px-4" data-bs-toggle="modal" data-bs-target="#editReviewModal{{this._id}}">Edit Review</button>
        {{else}}
        <button class="btn btn-dark btn-md mt-2 px-4" data-bs-toggle="modal" data-bs-target="#reviewModal{{this._id}}">Add Review</button>
        {{/includes}}

      </div>
    </div>
  </div>  



<!-- Dispaly Error Modal -->
<div class="modal fade m-0" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-transparent border border-0">
      <div class="modal-body bg-danger text-light">
        <h6 class="modal-title">Error! Review already submitted. Please edit the review.</h6>
      </div>

    </div>
  </div>
</div>

<!-- Dispaly success Modal -->
<div class="modal fade m-0" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-transparent border border-0">
      <div class="modal-body bg-success text-light">
        <h6 class="modal-title">Success! your review is added.</h6>
      </div>

    </div>
  </div>
</div>




<!-- Review Modal -->
<div class="modal fade" id="reviewModal{{this._id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="modal-title">
          <img src="/images/products/{{firstImage this.productId.imageUrl}}" class="img-fluid" alt="Product Image" height="70" width="70">
          </i>How was the Item?
        </h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"></button>
      </div>

      <form action="/youraccount/review" method="POST" enctype="multipart/form-data" class="edit-review-form">

      <div class="mb-4 text-center">
        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
      </div>

      <input type="hidden" name="rating" class="rating-input">
      <input type="hidden" name="product" value="{{this.productId._id}}">

      <div class="mb-3">
      <label class="form-label fw-bold">Show How The Item Looks</label>
      <input type="file" name="reviewImages" class="form-control shadow-none imageUpload" accept="image/*" multiple>

      <div class="d-flex flex-wrap gap-2 mt-2 previewContainer">
         
        </div>
       </div>

        <input type="hidden" name="removedImages" class="removed-images-input" value="">

      <div class="mb-4">
        <label class="form-label fw-bold">Write A Review</label>
        <textarea class="form-control shadow-none" name="comment" rows="4" placeholder="What should other customers know?"></textarea>
      </div>


      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-outline-dark">Edit Review</button>
        <button type="submit" class="btn btn-dark">Confirm</button>
      </div>
      </form>

    </div>
  </div>
</div>


<!-- Edit Review Modal -->

<div class="modal fade" id="editReviewModal{{this._id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      {{#with (lookup ../../reviewDataMap this.productId._id)}}

      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="modal-title">
          <img src="/images/products/{{firstImage ../this.productId.imageUrl}}" class="img-fluid" alt="Product Image" height="70" width="70">
          </i>Edit your review
        </h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"></button>
      </div>

      <form action="/youraccount/review/edit" method="POST" enctype="multipart/form-data" class="edit-review-form">

      <div class="mb-4 text-center">
        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
      </div>

      <input type="hidden" name="ratingEdit" class="rating-input">
      <input type="hidden" name="productEdit" value="{{../this.productId._id}}">
      <input type="hidden" class="rating-value" value="{{rating}}">

      <div class="mb-3">
      <label class="form-label fw-bold">Show How The Item Looks</label>
      <input type="file" name="reviewImages" class="form-control shadow-none imageUpload" accept="image/*" multiple>

          <div class="d-flex flex-wrap gap-2 mt-2 previewContainer">
          {{#each imageUrl}}
            <div class="position-relative existing-image" data-filename="{{this}}">
              <img src="/images/products/{{this}}" class="img-thumbnail" style="max-height:100px">
              <button type="button" class="btn btn-sm btn-outline-dark position-absolute remove-existing"
                      style="top:0; right:0;">&times;</button>
            </div>
          {{/each}}
        </div>
      </div>

        <input type="hidden" name="removedImages" class="removed-images-input" value="">

      <div class="mb-4">
        <label class="form-label fw-bold">Write A Review</label>
        <textarea class="form-control shadow-none" name="commentEdit" rows="4" placeholder="What should other customers know?">{{comment}}</textarea>
      </div>


      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-outline-dark">Edit Review</button>
        <button type="submit" class="btn btn-dark">Confirm</button>
      </div>
      
      </form>
  {{/with}}
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{this._id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel{{this._id}}">Reason for Return</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/youraccount/return" method="post">
          <input type="hidden" name="orderId" value="{{../this._id}}">
          <input type="hidden" name="productId" value="{{this.productId._id}}">

          <div class="form-check">
            <input class="form-check-input reason-radio" type="radio" name="reason" 
            id="reason1-{{this._id}}" value="Item defective or damaged" data-textarea-id="otherReasonBox-{{this._id}}">
            <label class="form-check-label" for="reason1-{{this._id}}">
              Item defective or damaged
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input reason-radio" type="radio" name="reason" 
            id="reason2-{{this._id}}" value="Description does not match the product" checked data-textarea-id="otherReasonBox-{{this._id}}">
            <label class="form-check-label" for="reason2-{{this._id}}">
              Description does not match the product
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input reason-radio" type="radio" name="reason" 
            id="reason3-{{this._id}}" value="Wrong item was sent" data-textarea-id="otherReasonBox-{{this._id}}">
            <label class="form-check-label" for="reason3-{{this._id}}">
              Wrong item was sent
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input reason-radio" type="radio" name="reason" 
            id="reason4-{{this._id}}" value="Others" data-textarea-id="otherReasonBox-{{this._id}}" data-show-textarea="true">
            <label class="form-check-label" for="reason4-{{this._id}}">
              Others
            </label>
          </div>

          <!-- Hidden textarea shown only if 'Others' is selected -->
          <div class="mt-3" id="otherReasonBox-{{this._id}}" style="display: none;">
            <label for="otherReasonText-{{this._id}}" class="form-label">Please specify:</label>
            <textarea class="form-control" name="otherReason" id="otherReasonText-{{this._id}}" rows="3"></textarea>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-dark">Confirm</button>
      </div>
      </form>
    </div>
  </div>
</div>


  {{/if}}
  {{/each}}
  {{/each}}


<!-- Pagination -->
    <div class="mt-5 mb-5 pagination-pro d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if (gt currentPage1 1)}}
          <li class="page-item">
            <a class="page-link pagination-border shadow-none" href="/youraccount/yourorders?page1={{subtract currentPage1 1}}"
              aria-label="Previous">
              <span aria-hidden="true" class="text-black">&lang;</span>
            </a>
          </li>
          {{/if}}
          {{#each (pagination totalPages1)}}
          <li class="page-item ms-2 {{#if (eq this ../currentPage1)}}active{{/if}}">
            <a class="page-link pagination-number" href="/youraccount/yourorders?page1={{this}}">{{this}}</a>
          </li>
          {{/each}}

          {{#if (lt currentPage1 totalPages1)}}
          <li class="page-item ms-2">
            <a class="page-link pagination-border shadow-none" href="/youraccount/yourorders?page1={{add currentPage1 1}}"
              aria-label="Next">
              <span aria-hidden="true" class="text-black">&rang;</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>


</div>

<!--Footer-->

<div class="bg-black text-white mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/yourorders.js"></script>
{{/section}}


